@import "tailwindcss";


@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");

@font-face {
    font-family: "Modern Negra";
    src: url("/fonts/Modern Negra Demo.ttf") format("truetype");
}

@theme {
    --color-yellow: #e7d393;
    --color-white-100: #efefef;
    --font-sans: "Mona Sans", sans-serif;
    --font-modern-negra: "Modern Negra", sans-serif;
    --font-serif: "DM Serif Text", serif;

    --breakpoint-xs: 480px;
}

@layer base {
  html,
  body {
    width: 100%;
    background-color: black;
    color: white;
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

  main {
    @apply w-full overflow-x-hidden;
  }

  img {
    @apply size-full object-center object-cover;
  }

  video {
    @apply w-full
  }

  a, button {
    @apply cursor-pointer;
  }
}

@utility flex-center {
    @apply flex justify-center items-center;
  }

@layer utilities {
  
  .container {
    @apply px-2;
  }

  .col-center {
    @apply flex flex-col justify-center items-center;
  }

  .abs-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  .text-gradient {
    background: linear-gradient(to bottom, #fff, #898989);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  .radial-gradient {
    mask-image: radial-gradient(
      circle at center,
      #434343 0%,
      #000 50%,
      transparent 100%
    );
  }

  .masked-img {
    mask-image: url("/images/mask-img.png");
  }
}

@layer components {
  nav {
    @apply fixed z-50 w-full;

    & div {
      @apply container flex flex-col items-center md:flex-row md:justify-between gap-5 py-5 px-2 md:px-5 mx-auto;
    }

    & p {
      @apply font-modern-negra text-3xl -mb-2;
    }

    & a {
      @apply text-nowrap text-sm md:text-base;
    }

    & ul {
      @apply flex-center gap-7 lg:gap-12;
    }
  }

  .noisy {
    @apply absolute inset-0 size-full bg-[url('/images/noise.png')];
  }

  #hero {
    @apply relative z-10 h-dvh w-full border border-transparent overflow-hidden;
    /* border: 2px solid lime; */

    h1 {
      @apply mt-40 md:mt-32 text-8xl md:text-[20vw] text-center leading-none font-modern-negra;
      /* border: 2px solid red; */
    }

    .hero-leaf {
      @apply w-1/3 xs:w-1/4 sm:w-1/5 md:w-1/4 xl:w-1/7 h-fit -z-1;
    }
  
  }

}